doctype 5
html
	head
		title ievents

		//- import JS libraries
		script(type='text/javascript', src='/javascripts/libs/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/javascripts/libs/masonry.pkgd.min.js')
		script(type='text/javascript', src='/javascripts/libs/blur.js')

		//- more scripts in children pages
		block scripts
		
		//- import CSS
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Poiret+One')

	body
		header
			h1.logo
				a(href="/") Capulati
					img(src="/images/logo3.png")
		div#main_content			
			block content