doctype 5
html
	head
		title ievents

		//- import JS libraries
		script(type='text/javascript', src='/javascripts/libs/jquery-1.10.2.min.js')
		script(type='text/javascript', src='/javascripts/libs/masonry.pkgd.min.js')
		script(type='text/javascript', src='/javascripts/libs/blur.js')

		//- more scripts in children pages
		block scripts
		
		//- import CSS
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Poiret+One')

	body
		header
			h1.logo
				a(href="/") App_Logo
					img
		div#main_content			
			block content