doctype 5
html
	head
		title CAPSULATI

		//- import JS libraries
		script(type='text/javascript', src='/javascripts/libs/jquery-1.10.2.min.js')
		//-script(type='text/javascript', src='/javascripts/libs/masonry.pkgd.min.js')
		//-script(type='text/javascript', src='/javascripts/libs/blur.js')

		//- more scripts in children pages
		block scripts
		
		//- import CSS
		link(rel="apple-touch-icon", href="/ios.png")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Poiret+One')

		//- meta
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="user-scalable=false")

	body
		header
			h1.logo
				a(href="javascript:window.location.reload();") Capulati
					img(src="/images/logo4.png")
		div#main_content			
			block content