extends ../layout

block content

  //- title
  h1 login

  //- register
  p
    a(href="/register") register

  //- login form
  form(class="login", method="POST", action="/login")
    div
      input(type="text", name="username", placeholder="User ID")
    div
      input(type="password", name="password", placeholder="Password")
    //- errors if any
    if errors
      div.error
        each error in errors
          span= error
    div 
      input(type="submit", value="login")