extends ../layout

block content

  //- title
  h1 login

  //- errors if any
  if errors
    div.error
      each error in errors
        span= error

  //- register form
  form(class="login", method="POST", action="/login")
    ul
      li 
        input(type="text", name="username", placeholder="User ID")
      li
        input(type="password", name="password", placeholder="Password")
      li 
        input(type="submit", value="login")

  p
    a(href="/register") register