/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/****************************
Custom style starts here
*****************************/
/* General */
/*body { padding:50px; font:14px "Lucida Grande", Helvetica, Arial, sans-serif;}*/
* {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.fixed {
  position: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
}
h1 {
  font-size: 52px;
  line-height: 130%;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
/* Fade sets */
.fade1 {
  opacity: 0;
  /* make things invisible upon start */

  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.fade2 {
  opacity: 0;
  /* make things invisible upon start */

  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade3 {
  opacity: 0;
  /* make things invisible upon start */

  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/* Global Header */
header {
  background: #fff;
  padding-left: 40px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  height: 65px;
}
header h1 {
  line-height: 125%;
}
header h1.logo a {
  font-size: 0;
}
header h1.logo a img {
  width: 210px;
}
h1.title {
  float: left;
  margin: 12px 0;
}
img.background_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
#main_content {
  margin: 0 50px;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
a:hover {
  color: #0077ff;
  text-decoration: underline;
}
a:active {
  text-decoration: none;
}
/* Menus */
.action_menu {
  float: right;
  margin-left: 50px;
  margin-right: 0;
  height: 100%;
  vertical-align: middle;
  padding: 32px 0;
}
.action_menu > ul {
  margin-top: 1px;
}
.action_menu > ul > li {
  list-style: none;
  display: inline-block;
}
.action_menu > ul > li > a {
  padding: 30px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.action_menu > ul > li > a:hover {
  background-color: #EEE;
  color: #00B7FF;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.fixed > .action_menu > ul > li > a {
  border-left: solid 1px #EEE;
  font-size: 14px;
}
.fixed > .action_menu > ul > li:last-child > a {
  border-right: solid 1px #EEE;
}
/* Action Icons */
#action_download {
  background: url(/images/icons/download.png) no-repeat center center;
}
#action_download:hover {
  background: url(/images/icons/download.png) no-repeat center -90px, #eeeeee;
}
#action_slideshow {
  background: url(/images/icons/slideshow.png) no-repeat center center;
}
#action_slideshow:hover {
  background: url(/images/icons/slideshow.png) no-repeat center -90px, #eeeeee;
}
#action_scrolltop {
  background: url(/images/icons/up.png) no-repeat center center, rgba(255, 255, 255, 0.2);
  margin: 0;
  color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.8);
  position: fixed;
  bottom: -128px;
  left: 50%;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#action_scrolltop.active {
  bottom: 15px;
}
#action_scrolltop:hover {
  background: url(/images/icons/up.png) no-repeat center center, rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 20px #ffffff;
  -moz-box-shadow: 0px 0px 20px #ffffff;
  box-shadow: 0px 0px 20px #ffffff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* Register Form */
form.register ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Register Form Error */
.error {
  color: red;
}
.error p {
  margin: 0;
  padding: 0;
}
.error ul {
  margin: 0 0 15px 0;
}
/* Login Form */
form.login ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Event Form */
form.event ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Events List */
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events li {
  margin: 12px 0;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 5px #aaaaaa;
  -moz-box-shadow: 1px 1px 5px #aaaaaa;
  box-shadow: 1px 1px 5px #aaaaaa;
}
.events li:hover {
  background: #EEE;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.event {
  margin: 0 0 10px 0;
  clear: both;
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.7);
}
.event a:link {
  text-decoration: none;
}
.event span {
  display: block;
  margin: 12px 0;
}
.event span.title {
  font-weight: 400;
}
.event span.desc {
  font-weight: 300;
  font-size: 18px;
}
.event span.dates,
.event span.tag {
  font-weight: 300;
  font-size: 18px;
  color: #666;
}
/* Content Header */
.content_header {
  -webkit-transition: webkit-opacity 0.2s ease-out;
  -moz-transition: moz-opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.content_header.fixed {
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
  -webkit-transition: webkit-opacity 0.2s ease-in;
  -moz-transition: moz-opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  z-index: 999999;
}
.content_header.fixed:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: webkit-opacity 0.2s ease-in;
  -moz-transition: moz-opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.content_header.fixed h1.title {
  margin-left: 50px;
  font-size: 32px;
}
.content_header.fixed .action_menu {
  padding: 24px 0;
  margin-right: 50px;
}
.content_header.fixed .action_menu > ul > li > a {
  padding-top: 22px;
  padding-bottom: 22px;
}
/* Media List */
.media {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.media figure {
  overflow: hidden;
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: bottom;
}
.media img {
  margin: 0px;
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.media img:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.media figure:hover {
  cursor: pointer;
  background-color: #0073B2;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.7);
  -webkit-filter: brightness(120%);
  -moz-filter: brightness(120%);
  -o-filter: brightness(120%);
  -ms-filter: brightness(120%);
  filter: brightness(120%);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.end_of_media {
  height: 30px;
}
/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: none;
}
.overlay.active {
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: rgba(0, 0, 0, 0.9);
  display: inherit;
}
.media_popup {
  color: #777;
  background: #000;
  height: 612px;
  width: 900px;
  position: absolute;
  left: 50%;
  top: -2000px;
  margin-left: -450px;
  margin-top: -306px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.active .media_popup {
  top: 50%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.media_img_container {
  float: left;
}
.media_details {
  margin: 15px 15px 15px 640px;
  overflow-x: hidden;
  overflow-y: auto;
}
.media_details div {
  margin: 10px 0;
  font-weight: 300;
}
.overlay_close {
  height: 20px;
  text-align: right;
  margin: 10px;
  background: url(data:image/gif;base64,R0lGODlhFAAUAJEAAE1NTf///////wAAACH5BAEHAAIALAAAAAAUABQAAAIzBISpK+YMm5Enpodw1HlCfnkKOIqU1VXk55goVb2hi7Y0q95lfG70uurNaqLgTviyyUoFADs=) no-repeat right center;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.overlay_close:hover {
  cursor: pointer;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.media_details > .details_desc {
  color: #EEE;
  margin-bottom: 30px;
}
.media_details > .details_author,
.media_details > .details_created {
  margin-left: 70px;
}
.details_author_img {
  border-radius: 200px;
  width: 50px;
  float: left;
}
/* added by Leo */
.action_menu > ul > li.remove.hidden {
  display: none;
}
.media img.selected {
  cursor: pointer;
  background-color: #0073B2;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0s ease-in;
  -moz-transition: all 0s ease-in;
  -o-transition: all 0s ease-in;
  transition: all 0s ease-in;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: 6px;
  margin-bottom: 6px;
}
@media screen and (orientation: portrait) {
  img.background_img {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: -999;
  }
}
