/* General */
body { padding:50px; font:14px "Lucida Grande", Helvetica, Arial, sans-serif;}
a { color:#00B7FF; }

/* Register Form */
form.register ul { margin:0; padding:0; list-style:none; }

/* Register Form Error */
.error { color:red; }
.error p { margin:0; padding:0; }
.error ul { margin:0 0 15px 0; }

/* Login Form */
form.login ul { margin:0; padding:0; list-style:none; }

/* Event Form */
form.event ul { margin:0; padding:0; list-style:none; }

/* Events List */
.events { margin:0; padding:0; list-style:none; }
.event { margin:0 0 10px 0; padding:10px; background-color:#f0f0f0; }
.event a:link { text-decoration:none; }
.event span { display:block; margin:0 0 2px 0; }
.event span.title { font-weight:900; }
.event span.desc { font-weight:100; }
.event span.tags { font-style:oblique; }

/* Media List */
.media { margin:0; padding:0; list-style:none; }
.media img { margin:0; padding:0; float:left; }