extends ../layout

block content

  //- title
  h1 share event

  //- errors if any
  if errors
    div.error
      p There are some problems with the following fields =)
      ul
        each error in errors
          li= error.msg

  //- create event form
  form(method="POST", action="/events/#{event._id}/alias")
    input(type="hidden", name="_method", value="put")

    span alias:
    input(type="text", name="alias")

    input(type="submit", value="share")